<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <agm-map [style.height.px]="this.height" [latitude]="this.getLatitude()" [longitude]="this.getLongitude()" [zoom]="18"
      class="welcome-card">
      <agm-marker [latitude]="this.getLatitude()" [longitude]="this.getLongitude()">
        <agm-info-window [disableAutoPan]="true">
          <div *ngIf="located">
            <ion-item lines="none">
              <ion-label>
                <strong>
                  Current Location: 
                </strong>
                <br />
                <h6>{{address.name}}</h6>
                <p> {{address.address1 }} {{address.address2 }} {{address.city}}, {{address.state}} {{address.zip}}</p>
                
              </ion-label>
            </ion-item>
          </div>  
          <div *ngIf="!located">
            <strong>Not Protected</strong>
            <br /> Current Location (estimated)
          </div> 
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <ion-fab vertical="top" horizontal="start" slot="fixed" #fab>
      <ion-fab-button><ion-icon name="more"></ion-icon></ion-fab-button>
      <ion-fab-list side="right">
        <ion-fab-button (click)="this.gotoSetup()"><ion-icon name="cog"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="gotoAddressList()">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div class='wr-well wr-float'>
      <h1 *ngIf="this.located">Congratulations - you are now protected</h1>
      <h1 *ngIf="!this.located" class="danger">Please set your current location</h1>
    </div>
    <!-- <app-address-list (sendMessage)='receiveMessage($event)'></app-address-list> -->
</ion-content>
